<nav>
  <div class="nav-wrapper grey darken-3">
    <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    <a href="/" class="brand-logo">
      <img src="/img/mcpa.png" height="58px" style="padding:2px;vertical-align:middle" class="hide-on-small-only"></img>
      <span class="hide-on-small-only valign">MCPA Dayton</span>
      <span class="hide-on-med-and-up valign">MCPA DTN</span>
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="friends.html">Our Friends</a></li>
      <li><a href="news.html">Updates</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="members.html">Members</a></li>
      <li><a href="http://public.milcyber.org/join" target="_blank">Join us!</a>
    </ul>
    <ul class="side-nav" id="mobile-nav">
      <li><a href="friends.html">Our Friends</a></li>
      <li><a href="news.html">Updates</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="members.html">Members</a></li>
      <li><a href="http://public.milcyber.org/join" target="_blank">Join us!</a>
    </ul>
  </div>
</nav>
